<div id="home-parent-div" class="home-parent-div">
  <!-- header for the home page -->
  <div class="toolbar-header-parent">
    <mat-toolbar>
      <div class="parent-header">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
          <span>My App</span>
          <span class="example-spacer"></span>
        </div>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
  <div class="home-body-parent">
    <div class="parent-heading">
      <h1 class="heading-text">This is the so called virtuality</h1>
    </div>

    <div class="box-parent">
      <div class="parent-p-img">
        <p class="para-box">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ut vitae ex reiciendis laboriosam.
          Totam eaque repellendus obcaecati dicta et laudantium recusandae facilis delectus,
          iusto perferendis cupiditate! Voluptates earum id accusantium.
        </p>
        <img src="" alt="" class="img-box">
      </div>
      <div class="parent-p-img">
        <p class="para-box">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ut vitae ex reiciendis laboriosam.
          Totam eaque repellendus obcaecati dicta et laudantium recusandae facilis delectus,
          iusto perferendis cupiditate! Voluptates earum id accusantium.
        </p>
        <img src="" alt="" class="img-box">
      </div>
      <div class="parent-p-img">
        <p class="para-box">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ut vitae ex reiciendis laboriosam.
          Totam eaque repellendus obcaecati dicta et laudantium recusandae facilis delectus,
          iusto perferendis cupiditate! Voluptates earum id accusantium.
        </p>
        <img src="" alt="" class="img-box">
      </div>
      <div class="parent-p-img">
        <p class="para-box">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Ut vitae ex reiciendis laboriosam.
          Totam eaque repellendus obcaecati dicta et laudantium recusandae facilis delectus,
          iusto perferendis cupiditate! Voluptates earum id accusantium.
        </p>
        <img src="" alt="" class="img-box">
      </div>
    </div>
  </div>
</div>
